/*Importando estilos de las fons de google font*/
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=VT323');
/*Resetear página*/
*{
	margin: 0;
	padding: 0;
}
/*css para la animación*/
.hidden{
     opacity:0;
}
.visible{
     opacity:1;
}
/*Css del fondo de la web para hacer scroll*/
#fondo{
	position: fixed;
	width: 100%;
	height: 100%;
	min-height: initial;
	top: 0px;
	left: 0px;
	z-index: -2;
	background-image: url(../img/fondo.jpg);
	background-size: cover;
	background-position: center 0px;
	background-repeat: no-repeat;
	overflow: hidden;
}
/*Css de la barra de navegación antes de hacer scroll*/
header{
	position: fixed;
	width: 100%;
	height: 70px;
	top:0px;
	left: 0px;
	z-index: 1;
	background-color: transparent;
	-webkit-transition: background-color .5s;
	-moz-transition: background-color .5s;
	-o-transition: background-color .5s;
}
nav{
	display: table;
	margin: auto;
	margin-top: 15px;
	height: 40px;
	-webkit-transition: margin-left .5s;
	-moz-transition: margin-left .5s;
	-o-transition: margin-left .5s;
}
ul{
	display: block;
	float: left;
	list-style: none;
}
ul li{
	float: left;
	margin: 10px;
	padding: 2px;
	font-family: 'VT323', monospace;
}
ul li a{
	text-decoration: none;
}
#logo{
	float:left;
	display: block;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 150px;
	-webkit-transition: width .5s, height .5s, margin-right .5s, margin-top .5s;
	-moz-transition: width .5s, height .5s, margin-right .5s, margin-top .5s;
	-o-transition: width .5s, height .5s, margin-right .5s, margin-top .5s;
}
/*Css de la etiqueta_scroll*/
#etiqueta_scroll{
	width: 100%;
	overflow: hidden;
	z-index: 2;
}
#scrolldown{
	margin: auto;
	width: 400px;
	height: 70px;
	color:#fff;
}
#scrolldown p{
	font-family: 'Pacifico', cursive;
	font-size: 2.5em;
	color: rgb(242, 183, 6);
}
#scrolldown i{padding-left: 20px}
/*Css de la segunda parte*/
#container{
	width: 100%;
	height: 100%;
	min-height: 800px;
	z-index: -1;
	background-image: url(../img/fondo2.jpg);
	background-position: center 0px;
	background-repeat: no-repeat;
	overflow: hidden;
}
/*Css del contingut del container*/
.contenido{
	float: left;
	margin-top: 100px;
	margin-left: 20px;
	width: 60%;
	height: 600px;
	z-index: 2;
	overflow: auto;
}
/*css de los div content*/
#content1, #content2, #content3, #content4, #content5, #content6{
	width: 100%;
	height: auto;
	overflow: auto;
	background-color: #fff;
}
/*css de la llista del container*/
.menu{
	float: right;
	margin-top: 150px;
	width: 25%;
	z-index: 1;
}
.menu ul{list-style-type: none;}
.menu li{
	float: right;
	margin: 10px;
	padding: 10px;
	width: 100%;
	border: solid 1px rgb(114, 209, 244);
	border-radius: 20px 0 20px 0;
	background-color: rgba(10, 10, 10, 0.53);
	text-align: center;
	text-shadow: 2px 2px 8px #fff;
	font-family: 'Pacifico', cursive;
	font-size: 2em;
}
#uno {
	-webkit-animation-duration: 3s;
  -webkit-animation-delay: 0s;
	-moz-animation-duration: 3s;
	-moz-animation-delay: 0s;
	-o-animation-duration: 3s;
  -0-animation-delay: 0s;
}
#dos {
	-webkit-animation-duration: 3s;
  -webkit-animation-delay: 0.5s;
	-moz-animation-duration: 3s;
	-moz-animation-delay:0. 5s;
	-o-animation-duration: 3s;
  -0-animation-delay: 0.5s;
}
#tres {
	-webkit-animation-duration: 3s;
  -webkit-animation-delay: 0.7s;
	-moz-animation-duration: 3s;
	-moz-animation-delay: 0.7s;
	-o-animation-duration: 3s;
  -0-animation-delay: 0.7s;
}
#cuatro{
	-webkit-animation-duration: 3s;
  -webkit-animation-delay: 1s;
	-moz-animation-duration: 3s;
	-moz-animation-delay: 1s;
	-o-animation-duration: 3s;
  -0-animation-delay: 1s;
}
#cinco{
	-webkit-animation-duration: 3s;
  -webkit-animation-delay: 1.2s;
	-moz-animation-duration: 3s;
	-moz-animation-delay: 1.2s;
	-o-animation-duration: 3s;
  -0-animation-delay: 1.2s;
}
#seis{
	-webkit-animation-duration: 3s;
  -webkit-animation-delay: 1.5s;
	-moz-animation-duration: 3s;
	-moz-animation-delay: 1.5s;
	-o-animation-duration: 3s;
  -0-animation-delay: 1.5s;
}
/*Css en estado hover del menu*/
#uno:hover, #dos:hover, #tres:hover, #cuatro:hover, #cinco:hover, #seis:hover {background-color: #fff}
